<style>
    .container-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;

        #modal {
            background: white;
            border-radius: 12px;
            padding: 20px;
            width: 75%;
            height: 709px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
            z-index: 10000;
        }
    }
</style>

<div class="container-modal" id="container-modal">
    <div id="modal"></div>
</div>
