<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/front/components/navbar/index.css" />
        <script src="/front/components/navbar/scripts/script.js" defer></script>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <img src="/front/public/imgs/logo-01.svg" alt="logo-precode" />
            </div>
            <nav>
                <ul id="content-menu"></ul>
            </nav>
        </div>
    </body>
</html>
